extends layout

block content
  h3 One couples massage for you and a person of your choice!
  div Certificate to be emailed by Spa Room on Christmas Day.
  div.row
    div.small-12.medium-6.columns
      a(href="http://sparoommassage.com/" target="_blank")
        img.jml(src='https://media1.giphy.com/media/KfKZlZ76xBZYs/200.gif')
    div.small-12.medium-6.columns
      iframe.jml(frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=The+Spa+Room,+Wisconsin+Avenue+Northwest,+Washington,+DC,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU")