extends layout

block content
  div.small-6.columns
    div
      h3
       a(href='/liz') Lizbert
    div
      h3
       a(href='/beth') Bethbert
  div.small-6.columns
    div
      h3
       a(href='/jonas') Jonas
    div
      h3
       a(href='/Mom') Mom

      
    