extends layout

block content
  h3 Left picture for information, right picture for reservations.
  div.row
    div.small-12.medium-6.columns
      a(href="https://www.escaperoomlive.com/")
        img.jml(src='http://www.androidfreeware.net/img2/escape_the_room_android_2.gif')
    div.small-12.medium-6.columns
      a(href="https://bookeo.com/escaperoomdc/voucher")
        img.jml(src='http://content.screencast.com/users/mljung02/folders/Jing/media/4d2b13f9-3437-4cb3-b048-1810dc70bc67/00000028.png')