doctype html
html
  head
    title Merry Christmas
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.5/css/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.row.maindiv
      a(href='/')
        h1.mid Merry Christmas!
      block content
      
    script(src='/javascripts/app.js')
