extends layout

block content
  div.row
    div.small-12.columns
      div What do you call a snowman party?
      form(method="post" action="/liz")
        input(type='text' name='guess' autocomplete='off')
        if error
          div=error
          button.hintly#hint(type='button') GIVE ME A HINT
          div.hide#showhint= hint
        p
          button.button.secondary(type='submit') Submit