extends layout

block content
  div.row
    div.small-12.columns
      a(href="http://blog.newegg.com/building-a-gaming-pc-for-the-first-time-dont-panic-this-guide-can-help-you-out/")
        img(src='http://www.netanimations.net/82.gif')
        div Merry Christmas Love!
  div.row
    div.small-6.columns
      ul
        li Wait, really?
          div We both know your compy has been more problem then solution recently, so yes, really.
        li But I don't know wtf to buy and I feel bad spending your money.
          div This is all solved by giving it a twin!
    div.small-6.columns
      ul
        li A twin?  Does that mean...
          div Yes, I am going to build two identical computers, and then make you choose which one you want.
        li I still have protests and arguments!
          div My counter argument is Texas.
      
      
    