extends layout

block content
  h3 We know how we all have so much stuff and don't need more, so this year Liz and I decided that the best present is one to the world, so we donated $60 to charity water in your honor.
  div.row
    div.small-12.medium-12.columns
      a(href="https://www.charitywater.org/about/" target="_blank")
        img(src='http://content.screencast.com/users/mljung02/folders/Jing/media/6bac38c1-fe4d-4e05-a49c-0ab74ae474f8/00000029.png')
